// _buttons.scss
%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover {
      transform: scale(.98);
    }
  }
// this file does not get compiled - just imported  @import "buttons";
