$font-stack: Arial, Helvetica, sans-serif;
$light-color: #b8d4f8;
$primary-color: #0e6cff;
// $primary-color: #e0ffff;
$secondary-color: #6e0404;
$option-color: #f75353;
// this file does not get compiled - just imported  @import "config";
